<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CarShopping</title>
</head>
<body>
    <div>
        <p>Header</p>
        @RenderBody()
        <p>Footer</p>
    </div>
</body>
</html>
